<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AtlirVPNConnect.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <AtlirVPNConnect.Properties.Settings>
            <setting name="Config" serializeAs="String">
                <value>client
dev tun
proto udp
remote $ip
nobind
ping 10
ping-exit 60
auth-user-pass
auth-nocache
explicit-exit-notify 3
persist-key
persist-tun
comp-lzo
reneg-sec 21600
remote-cert-tls server
ns-cert-type server
allow-pull-fqdn</value>
            </setting>
        </AtlirVPNConnect.Properties.Settings>
    </userSettings>
</configuration>